In [3]:
from transformers import AutoTokenizer, AutoModelForCausalLM

tokenizer = AutoTokenizer.from_pretrained("tsdocode/text-to-sql")
# model = AutoModelForCausalLM.from_pretrained("tsdocode/text-to-sql")

tokenizer_config.json:   0%|          | 0.00/615 [00:00<?, ?B/s]

C:\Users\aashi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\huggingface_hub\file_download.py:149: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\aashi\.cache\huggingface\hub\models--tsdocode--text-to-sql. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to see activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

vocab.json:   0%|          | 0.00/798k [00:00<?, ?B/s]

merges.txt:   0%|          | 0.00/456k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/1.36M [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/357 [00:00<?, ?B/s]

In [4]:
import json
import numpy as np

with open('./dataset/JSON/wikidata_mongo_complete.json', 'r') as file:
    data = json.load(file)

FileNotFoundError: [Errno 2] No such file or directory: './dataset/JSON/wikidata_mongo_complete.json'

In [ ]:
def data_generator(df):
    query = []
    count = 0 
    
    for row in df:
        query.append(row[-2].lower())
        query.append(row[1].lower())
        count += 1
        
        if count == 1000:    
            yield np.array(query)
            count = 0
            query = []
#     return query

In [ ]:
tokenizer = tokenizer.train_new_from_iterator(data_generator(data), 10000)

In [ ]:
tokenizer.save_pretrained('Tokenizer')

('Tokenizer\\tokenizer_config.json',
 'Tokenizer\\special_tokens_map.json',
 'Tokenizer\\vocab.json',
 'Tokenizer\\merges.txt',
 'Tokenizer\\added_tokens.json',
 'Tokenizer\\tokenizer.json')

In [ ]:
# import re

# def add_spaces_to_special_chars(query):
#     special_chars = r'([^\w\s])'
#     result = re.sub(special_chars, r' \1 ', query)
#     return result

# query = data[0][-2]
# modified_query = add_spaces_to_special_chars(query)
# print(modified_query)

db . table . find (  {   " Current slogan "  :   " SOUTH AUSTRALIA "   }  ,   {  Notes :  1 }  )

In [ ]:
data[0][-2].lower()

'db.table.find({ "current slogan": "south australia" }, { notes: 1})'

In [ ]:
tokenizer(data[0][-2].lower())['input_ids']

[274,
 14,
 281,
 14,
 278,
 346,
 265,
 2429,
 1671,
 5184,
 257,
 265,
 1602,
 2522,
 2,
 341,
 300,
 1947,
 26,
 264,
 273]

In [ ]:
import pandas as pd
df = pd.DataFrame(tokenizer(data[0][-2].lower())['input_ids'])

       0
0    274
1     14
2    281
3     14
4    278
5    346
6    265
7   2429
8   1671
9   5184
10   257
11   265
12  1602
13  2522
14     2
15   341
16   300
17  1947
18    26
19   264
20   273

In [ ]:
data[0][-2].lower()

'db.table.find({ "current slogan": "south australia" }, { notes: 1})'

In [ ]:

df.loc[:,1] = tokenizer.convert_ids_to_tokens(tokenizer(data[0][-2].lower())['input_ids'])

       0           1
0    274          db
1     14           .
2    281       table
3     14           .
4    278        find
5    346          ({
6    265          Ġ"
7   2429     current
8   1671         Ġsl
9   5184        ogan
10   257          ":
11   265          Ġ"
12  1602       south
13  2522  Ġaustralia
14     2           "
15   341         Ġ},
16   300          Ġ{
17  1947      Ġnotes
18    26           :
19   264          Ġ1
20   273          })

In [ ]:
df.columns = ['Index','Tokens']
df.T

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
Index,274,14,281,14,278,346,265,2429,1671,5184,...,265,1602,2522,2,341,300,1947,26,264,273
Tokens,db,.,table,.,find,({,"Ġ""",current,Ġsl,ogan,...,"Ġ""",south,Ġaustralia,"""","Ġ},",Ġ{,Ġnotes,:,Ġ1,})